*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  padding: 24px;
  text-align: center;
  background-color: #aaa;
}

.game-text {
  text-align: center;
  margin-bottom: 32px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
}

.cell {
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:last-child {
  border-right: none;
}
